table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table thead tr th:nth-child(2) {
  width: 300px;
}

table thead tr th:last-child {
  width: 200px;
}
table thead tr {
  border-left: 6px solid var(--icon-hover);
}

table thead tr th div {
  display: flex;
  align-items: center;
  gap: 0.125rem;
  cursor: pointer;
  transition: all 0.2s;
  padding: 0 1rem;
}
table thead tr th div p,
i {
  transition: all 0.3s;
  color: white;
}
table thead tr th div:hover p,
table thead tr th div:hover i {
  /* filter: brightness(0.65); */
  color: var(--icon-hover);
}

table thead tr i {
  font-size: 1rem;
}

td,
th {
  text-align: left;
  padding: 10px;
  color: var(--text-color);
}

table tbody tr {
  cursor: pointer;
  transition: all 0.2s;
  border-left: 2px solid var(--icon-hover);
}
table tbody tr:nth-child(odd) {
  /* background-color: #556486; */
}
table tbody tr:nth-child(even) {
  /* background-color: var(--selected-card); */
}
table tbody tr:hover {
  background-color: var(--selected-card);
}

table tbody tr td {
  padding: 0 1.625rem;
}
table tbody tr td:nth-child(1) {
  padding: 0 10px;
}
table tbody tr td:nth-child(1) {
  width: 70px;
  height: 80px;
}
table tbody tr td:nth-child(1).active {
  width: 70px;
  height: 180px;
}
table tbody tr td:nth-child(1) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-one {
  color: var(--text-color);
  transition: all 0.3s;
  position: relative;
  padding: 6px 4px;
  display: flex;
  justify-content: center;
  gap: 0.45rem;
  text-align: center;
}
.btn-one span {
  transition: all 0.3s;
}
.btn-one::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  transform: scale(0.1, 1);
}
.btn-one:hover span {
  letter-spacing: 2px;
}
.btn-one:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.btn-one::after {
  border-radius: 0.25rem;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: #afc9f440;
}
.btn-one:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}
