<table>
  <thead>
    <tr>
      <th><p>Image</p></th>
      <th>
        <div (click)="SortClick('Name')">
          <p>Name</p>
          <i
            *ngIf="whichSortIcon != 'Name' || Iconclick == false"
            class="fa-solid fa-arrow-up-wide-short"
          ></i>
          <i
            *ngIf="whichSortIcon == 'Name' && Iconclick == true"
            class="fa-solid fa-arrow-down-wide-short"
          ></i>
        </div>
      </th>
      <th>
        <div (click)="SortClick('Category')">
          <p>Category</p>
          <i
            *ngIf="whichSortIcon != 'Category' || Iconclick == false"
            class="fa-solid fa-arrow-up-wide-short"
          ></i>
          <i
            *ngIf="whichSortIcon == 'Category' && Iconclick == true"
            class="fa-solid fa-arrow-down-wide-short"
          ></i>
        </div>
      </th>
      <th>
        <div (click)="SortClick('Price')">
          <p>Price</p>
          <i
            *ngIf="whichSortIcon != 'Price' || Iconclick == false"
            class="fa-solid fa-arrow-up-wide-short"
          ></i>
          <i
            *ngIf="whichSortIcon == 'Price' && Iconclick == true"
            class="fa-solid fa-arrow-down-wide-short"
          ></i>
        </div>
      </th>
      <th>
        <div (click)="SortClick('Quantity')">
          <p>Quantity</p>
          <i
            *ngIf="whichSortIcon != 'Quantity' || Iconclick == false"
            class="fa-solid fa-arrow-up-wide-short"
          ></i>
          <i
            *ngIf="whichSortIcon == 'Quantity' && Iconclick == true"
            class="fa-solid fa-arrow-down-wide-short"
          ></i>
        </div>
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of CardsArr">
      <td>
        <img [src]="item?.Img" alt="" />
      </td>
      <td>{{ item?.Name }}</td>
      <td>{{ item?.Category }}</td>
      <td>${{ item?.Price }}</td>
      <td>{{ item?.Quantity }}</td>
      <td>
        <button><i class="fa-solid fa-plus"></i>Add to cart</button>
      </td>
    </tr>
  </tbody>
</table>
