table {
  font-family: arial, sans-serif;
  border-collapse: separate;
  border-spacing: 0 10px;
  width: 100%;
  overflow-x: auto;
}

table thead tr th:nth-child(2) {
  width: 300px;
}
table thead tr th:nth-child(1) {
  width: 80px;
}

table thead tr th:last-child {
  width: 200px;
}
table thead tr {
  border-left: 6px solid var(--icon-hover);
}

table thead tr th div {
  display: flex;
  align-items: center;
  gap: 0.125rem;
  cursor: pointer;
  transition: all 0.2s;
  padding: 0 1rem;
}
table thead tr th div p,
i {
  transition: all 0.3s;
  color: white;
  margin: 0;
  border-bottom: 2px solid #00000000;
}
table thead tr th:nth-child(1) div p {
  border-bottom: 0;
}
table thead tr th div:hover p,
table thead tr th div:hover i {
  color: var(--icon-hover);
}
table thead tr th div:hover p {
  border-bottom: 2px solid var(--icon-hover);
}
table thead tr th:nth-child(1) div:hover p {
  border-bottom: 0;
}

table thead tr i {
  font-size: 1rem;
}

td,
th {
  text-align: left;
  padding: 10px;
  color: var(--text-color);
}

table tbody tr {
  transition: all 0.2s;
  border-left: 2px solid var(--icon-hover);
  margin-bottom: 0.5rem;
}
table tbody .notFound_alert_row {
  border-left: 0;
}
table tbody .notFound_alert_row td:nth-child(3) {
  text-align: end;
}
table tbody .notFound_alert_row td:nth-child(3) p {
  margin: 0;
  font-size: 1.25rem;
}

table tbody tr:hover {
  background-color: #24235bd0;
}

table tbody tr td {
  padding: 0 1.625rem;
}
table tbody tr td p {
  margin: 0;
}
table tbody tr td:nth-child(1) {
  padding: 0;
}
table tbody tr td:nth-child(1) {
  width: 80px;
}
table tbody tr td:nth-child(1).active {
  width: 70px;
  height: auto;
}
table tbody tr td:nth-child(1) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.addToCartbtn {
  position: relative;
}
.addToCartbtn .alreadyIncart_alert {
  padding: 2px 4px;
  border-radius: 5rem;
  background-color: #eb4545;
  position: absolute;
  top: 50%;
  left: -50%;
  transition: 4s all ease-in-out;
  transform: translate(-50%, -50%);
  filter: opacity(0);
}
.addToCartbtn .alreadyIncart_alert.visible {
  transition: 0.2s all ease-in-out;
  filter: opacity(1);
}

.addToCartbtn .alreadyIncart_alert p {
  font-size: 11px;
  position: relative;
  margin: 0;
  z-index: 1;
}
.addToCartbtn .alreadyIncart_alert p::after {
  content: "";
  position: absolute;
  top: -2px;
  right: -7px;
  width: 24px;
  height: 24px;
  background-color: #eb4545;
  transform: rotate(-45deg);
  z-index: -1;
  border-top-right-radius: 0.7rem;
  border-bottom-left-radius: 0.7rem;
}

.add_cart_Btn {
  transition: all 0.3s;
  width: 148px;
  display: flex;
  align-items: center;
  gap: 0.45rem;
  color: var(--text-color);
  padding: 8px 4px;
  background-color: #0b1537;
  border-radius: var(--border-radius);
}
.add_cart_Btn:hover {
  filter: brightness(1.4);
}
:host >>> ngx-skeleton-loader .skeleton-loader {
  width: 100%;
  height: 85px;
  margin: 0;
  filter: opacity(0.8);
  background-color: var(--icon-hover);
}

:host >>> .loader_class td:nth-child(2) ngx-skeleton-loader .skeleton-loader,
:host >>> .loader_class td:nth-child(3) ngx-skeleton-loader .skeleton-loader,
:host >>> .loader_class td:nth-child(4) ngx-skeleton-loader .skeleton-loader,
:host >>> .loader_class td:nth-child(5) ngx-skeleton-loader .skeleton-loader {
  width: 100%;
  height: 15px;
}
:host >>> .loader_class td:nth-child(6) ngx-skeleton-loader .skeleton-loader {
  width: 100%;
  height: 32px;
}
