<table>
  <thead>
    <tr>
      <th><p>Image</p></th>
      <th>
        <div>
          <p>Name</p>
          <i class="fa-solid fa-arrow-up-wide-short"></i>
        </div>
      </th>
      <th>
        <div>
          <p>Category</p>
          <i class="fa-solid fa-arrow-up-wide-short"></i>
        </div>
      </th>
      <th>
        <div>
          <p>Price</p>
          <i class="fa-solid fa-arrow-up-wide-short"></i>
        </div>
      </th>
      <th>
        <div>
          <p>Quantity</p>
          <i class="fa-solid fa-arrow-up-wide-short"></i>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <img src="https://m.media-amazon.com/images/I/916T5H6sCtL.jpg" alt="" />
      </td>
      <td>Grand Theft Auto V</td>
      <td>Action-Adventure</td>
      <td>29.99</td>
      <td>60</td>
    </tr>
    <tr>
      <td>Image</td>
      <td>Name</td>
      <td>Category</td>
      <td>Price</td>
      <td>Quantity</td>
    </tr>
  </tbody>
</table>
