table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
table thead {
  border-bottom: 1px solid var(--border-color);
}
table thead tr {
  border-bottom: 1px solid var(--border-color);
}
table thead tr th:nth-child(2) {
  width: 300px;
}

table thead tr th:last-child {
  width: 150px;
}

table thead tr th div {
  display: flex;
  align-items: center;
  gap: 0.125rem;
  cursor: pointer;
  transition: all 0.2s;
  padding: 0 1rem;
}
table thead tr th div p,
i {
  transition: all 0.2s;
}
table thead tr th div:hover p,
table thead tr th div:hover i {
  color: #386fe6;
}

table thead tr i {
  font-size: 1rem;
}

td,
th {
  text-align: left;
  padding: 10px;
}

table tbody tr {
  cursor: pointer;
  transition: all 0.2s;
  border-radius: var(--border-radius);
  border: 1px solid rgba(0, 0, 0, 0);
}
table tbody tr:hover {
  background-color: var(--selected-card);
  border: 1px solid #678fe7;
}

table tbody tr td:nth-child(1) {
  width: 70px;
  height: 80px;
}
table tbody tr td:nth-child(1).active {
  width: 70px;
  height: 180px;
}
table tbody tr td:nth-child(1) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
