<table>
  <thead>
    <tr>
      <th>
        <div><p>Image</p></div>
      </th>

      <th *ngIf="DisabledColumn[0].Name === 'Name' && DisabledColumn[0].Value">
        <div (click)="SortClick('Name')">
          <p>Name</p>
          <i
            *ngIf="whichSortIcon != 'Name' || Iconclick == false"
            class="fa-solid fa-arrow-up-wide-short"
          ></i>
          <i
            *ngIf="whichSortIcon == 'Name' && Iconclick == true"
            class="fa-solid fa-arrow-down-wide-short"
          ></i>
        </div>
      </th>
      <th
        *ngIf="DisabledColumn[1].Name === 'Category' && DisabledColumn[1].Value"
      >
        <div (click)="SortClick('Category')">
          <p>Category</p>
          <i
            *ngIf="whichSortIcon != 'Category' || Iconclick == false"
            class="fa-solid fa-arrow-up-wide-short"
          ></i>
          <i
            *ngIf="whichSortIcon == 'Category' && Iconclick == true"
            class="fa-solid fa-arrow-down-wide-short"
          ></i>
        </div>
      </th>
      <th *ngIf="DisabledColumn[2].Name === 'Price' && DisabledColumn[2].Value">
        <div (click)="SortClick('Price')">
          <p>Price</p>
          <i
            *ngIf="whichSortIcon != 'Price' || Iconclick == false"
            class="fa-solid fa-arrow-up-wide-short"
          ></i>
          <i
            *ngIf="whichSortIcon == 'Price' && Iconclick == true"
            class="fa-solid fa-arrow-down-wide-short"
          ></i>
        </div>
      </th>
      <th
        *ngIf="DisabledColumn[3].Name === 'Quantity' && DisabledColumn[3].Value"
      >
        <div (click)="SortClick('Quantity')">
          <p>Quantity</p>
          <i
            *ngIf="whichSortIcon != 'Quantity' || Iconclick == false"
            class="fa-solid fa-arrow-up-wide-short"
          ></i>
          <i
            *ngIf="whichSortIcon == 'Quantity' && Iconclick == true"
            class="fa-solid fa-arrow-down-wide-short"
          ></i>
        </div>
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of CardsArr">
      <td>
        <img [src]="item?.Img" alt="" />
      </td>
      <td *ngIf="DisabledColumn[0].Name === 'Name' && DisabledColumn[0].Value">
        {{ item?.Name }}
      </td>
      <td
        *ngIf="DisabledColumn[1].Name === 'Category' && DisabledColumn[1].Value"
      >
        {{ item?.Category }}
      </td>
      <td *ngIf="DisabledColumn[2].Name === 'Price' && DisabledColumn[2].Value">
        <p style="color: gold">
          $
          <span style="color: var(--text-color)">{{ item?.Price }}</span>
        </p>
      </td>
      <td
        *ngIf="DisabledColumn[3].Name === 'Quantity' && DisabledColumn[3].Value"
      >
        {{ item?.Quantity }}
      </td>
      <td>
        <button (click)="addToCartBtn(item)">
          <i class="fa-solid fa-plus"></i>Add to cart
        </button>
      </td>
    </tr>
  </tbody>
</table>
