<div class="container">
  <div class="top_col">
    <h3>Cart</h3>
    <i (click)="hideCartFunc()" class="fa-solid fa-xmark"></i>
  </div>
  <div class="bottom_col">
    <div class="added_cards">
      <div *ngFor="let product of cartproducts$ | async" class="cards">
        <div>
          <img [src]="product?.Img" [alt]="product?.Name" />
          <h3>{{ product?.Name }}</h3>
        </div>
        <i
          (click)="removeProductclick(product?.Id)"
          class="fa-solid fa-trash-can"
        ></i>
      </div>
    </div>
  </div>
</div>
