<div class="container">
  <div class="top_col">
    <h3>Cart</h3>
    <i (click)="hideCartFunc()" class="fa-solid fa-xmark"></i>
  </div>
  <div class="middle_col">
    <div class="added_cards">
      <div *ngFor="let product of cartproducts$ | async" class="cards">
        <div>
          <img [src]="product?.Img" [alt]="product?.Name" />
          <h3>{{ product?.Name }}</h3>
        </div>
        <i
          (click)="removeProductclick(product?.Id)"
          class="fa-solid fa-trash-can"
        ></i>
      </div>
      <div class="cards">
        <div>
          <img
            src="https://m.media-amazon.com/images/I/81JvfuMVyXL._AC_UF1000,1000_QL80_DpWeblab_.jpg"
            alt=""
          />
          <h3>Civilization VI</h3>
        </div>
        <i class="fa-solid fa-trash-can"></i>
      </div>
      <div class="cards">
        <div>
          <img
            src="https://m.media-amazon.com/images/I/81JvfuMVyXL._AC_UF1000,1000_QL80_DpWeblab_.jpg"
            alt=""
          />
          <h3>Civilization VI</h3>
        </div>
        <i class="fa-solid fa-trash-can"></i>
      </div>
      <div class="cards">
        <div>
          <img
            src="https://m.media-amazon.com/images/I/81JvfuMVyXL._AC_UF1000,1000_QL80_DpWeblab_.jpg"
            alt=""
          />
          <h3>Civilization VI</h3>
        </div>
        <i class="fa-solid fa-trash-can"></i>
      </div>
      <div class="cards">
        <div>
          <img
            src="https://m.media-amazon.com/images/I/81JvfuMVyXL._AC_UF1000,1000_QL80_DpWeblab_.jpg"
            alt=""
          />
          <h3>Civilization VI</h3>
        </div>
        <i class="fa-solid fa-trash-can"></i>
      </div>
      <div class="cards">
        <div>
          <img
            src="https://m.media-amazon.com/images/I/81JvfuMVyXL._AC_UF1000,1000_QL80_DpWeblab_.jpg"
            alt=""
          />
          <h3>Civilization VI</h3>
        </div>
        <i class="fa-solid fa-trash-can"></i>
      </div>
      <div class="cards">
        <div>
          <img
            src="https://m.media-amazon.com/images/I/81JvfuMVyXL._AC_UF1000,1000_QL80_DpWeblab_.jpg"
            alt=""
          />
          <h3>Civilization VI</h3>
        </div>
        <i class="fa-solid fa-trash-can"></i>
      </div>
    </div>
  </div>
  <div class="bottom_col">
    <div>
      <h3>Total Price:</h3>
      <strong>$67.55</strong>
    </div>
  </div>
</div>
