.container {
  background-color: var(--page-color);
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--component-color);
  height: 100%;
  width: 300px;
  gap: 0.5rem;
  overflow: hidden;
  overflow-y: auto;
  z-index: 10;
}
.container .top_col {
  padding: 0 1rem;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--component-color);
}
.container .top_col i {
  font-size: 1.25rem;
  cursor: pointer;
}
.container .top_col h3 {
  font-size: 1.5rem;
  color: var(--text-color);
  margin: 0;
}

.container .middle_col {
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}
.container .middle_col .added_cards {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.container .middle_col .cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: var(--dark-text-color); */
  border: 1px solid var(--dark-text-color);
  overflow: hidden;
  border-radius: 0.25rem;
  height: 70px;
  position: relative;
  transform: translateX(0);
  opacity: 1;
  transition: all 0.5s;
}
.container .middle_col .cards.active {
  transform: translateX(-400px);
  opacity: 0;
}
.container .middle_col .cards::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  background: linear-gradient(to left, #db717157 10%, transparent);
  transition: all 0.4s;
  z-index: 0;
}

.container .middle_col .cards:hover::after {
  width: 40px;
  height: 100%;
}

.container .middle_col .cards div {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.container .middle_col .cards img {
  width: 70px;
  height: 100%;
}
.container .middle_col .cards h3 {
  font-size: 1.125rem;
  color: var(--text-color);
  margin: 0;
}

.container .middle_col .cards i {
  color: #eb4545;
  font-size: 1.125rem;
  margin-right: 0.5rem;
  cursor: pointer;
  transform: translateX(200px);
  opacity: 0;
  transition: all 0.3s;
  z-index: 1;
}
.container .middle_col .cards:hover i {
  transform: translateX(0);
  opacity: 1;
}

.container .middle_col .cards div .info_box {
  display: flex;
  flex-direction: column;
  align-items: start;
  overflow: hidden;
}
.container .middle_col .cards div .info_box h3 {
  margin-top: 2rem;
}

.container .middle_col .cards div .info_box .card_content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100%;
}
.container .middle_col .cards div .info_box .card_content .price_box {
  transform: translateY(-30px);
  opacity: 1;
  transition: all 0.3s;
}
.container .middle_col .cards:hover div .info_box .card_content .price_box {
  transform: translateY(50px);
  opacity: 0;
}
.container
  .middle_col
  .cards:hover
  div:nth-child(1)
  .info_box
  .card_content
  .quantity_box {
  transform: translateY(0);
  opacity: 1;
}
.container .middle_col .cards div .info_box .card_content .price_box h2 {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin: 0;
}
.container .middle_col .cards div .info_box .card_content .price_box h2 p {
  margin: 0;
}
.container .middle_col .cards div .info_box .card_content .quantity_box {
  display: flex;
  gap: 0.25rem;
  background-color: var(--component-color);
  border-radius: 5rem;
  transform: translateY(-50px);
  opacity: 0;
  transition: all 0.3s;
}
.container .middle_col .cards div .info_box .card_content .quantity_box span {
  color: var(--text-color);
  font-size: 1rem;
}
.container .middle_col .cards div .info_box .card_content .quantity_box button {
  border: 1px solid var(--component-color);
  padding: 0;
  border-radius: 5rem;
  background-color: #060b1d9d;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
  width: 32px;
  height: 32px;
  transition: all 0.2s;
  font-size: 1.25rem;
}
.container
  .middle_col
  .cards
  div
  .info_box
  .card_content
  .quantity_box
  button:hover {
  filter: brightness(0.6);
  color: var(--text-color);
}

.container .bottom_col {
  padding: 0 0.5rem;
  padding-top: 0.5rem;
  border-top: 1px solid var(--component-color);
}
.container .bottom_col div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  border-radius: 5rem;
  padding: 0.5rem 0.875rem;
  background-color: #060b1d9d;
}
.container .bottom_col div h3 {
  margin: 0;
}
.container .bottom_col div strong {
  color: rgb(37, 149, 37);
}
