ul {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  height: 100%;
  overflow: hidden;
}

ul li {
  display: flex;
  align-items: center;
}

ul li p {
  color: var(--text-color);
  margin: 0;
}
