ul {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  height: 100%;
  overflow: hidden;
}

ul li {
  display: flex;
  align-items: center;
  gap: 1rem;
}

ul li p {
  color: var(--text-color);
}
ul li mat-checkbox {
  width: 16px;
  height: 16px;
  color: var(--icon-hover);
}
