<div
  [ngClass]="{ active: isSearchClicked }"
  (click)="searchClicked()"
  class="search_box"
>
  <i class="fa-solid fa-magnifying-glass"></i>
  <input
    [ngClass]="{ active: isSearchClicked }"
    type="text"
    (input)="inputFunc(input.value)"
    #input
    placeholder="Search games"
  />
</div>
<div *ngIf="isSearchClicked" class="search_blackbox">
  <div
    [ngClass]="{ active: isSearchClicked }"
    (click)="searchClicked()"
    class="search_box"
  >
    <i class="fa-solid fa-magnifying-glass"></i>
    <input
      [ngClass]="{ active: isSearchClicked }"
      type="text"
      (input)="inputFunc(input.value)"
      #input
      placeholder="Search games"
    />
    <i (click)="hideSearchBox()" class="fa-solid fa-xmark"></i>
  </div>
</div>
