<div class="conatiner">
  <div class="search-comp">
    <app-search></app-search>
    <div (click)="cartClick()" class="cart_box">
      <i class="fa-solid fa-cart-arrow-down"></i>
      <strong>{{ cartCount$ | async }}</strong>
    </div>
  </div>
  <div class="table-comp">
    <div class="board-comp">
      <app-table></app-table>
    </div>
    <div [ngClass]="isFilterFolded ? 'active' : null" class="filter-comp">
      <div>
        <h3 *ngIf="isFilterFolded">Enable columns</h3>
        <i (click)="filtericonClick()" class="fa-solid fa-bars-staggered"></i>
      </div>
      <div *ngIf="isFilterFolded" class="filter-cont">
        <app-filter></app-filter>
      </div>
    </div>
    <div *ngIf="isCartOpened" class="cart_cont">
      <app-cart (hideCart)="hideCartFromChild($event)"></app-cart>
    </div>
  </div>
  <div class="paggination-comp">
    <div class="pag_box">
      <button
        [disabled]="isMinPageNumber"
        (click)="arrowClick('prew')"
        class="prew-arrow"
      >
        <i
          [ngClass]="{ active: isMinPageNumber }"
          class="fa-solid fa-angle-left"
        ></i>
      </button>
      <ul class="middle-numbers">
        <li
          (click)="pageClick(page)"
          *ngFor="let page of pageArr"
          [ngClass]="{ active: page === CurrentPage }"
        >
          <p>{{ page }}</p>
        </li>
      </ul>
      <button
        [disabled]="isMaxPageNumber"
        (click)="arrowClick('next')"
        class="next-arrow"
      >
        <i
          [ngClass]="{ active: isMaxPageNumber }"
          class="fa-solid fa-angle-right"
        ></i>
      </button>
    </div>
  </div>
</div>
