.conatiner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 4rem;
  justify-content: center;
  gap: 2rem;
}
.conatiner .table-comp {
  display: flex;
  align-items: center;
  width: 100%;
  height: 550px;
  position: relative;
  background-color: var(--component-color);
  padding: 0.5rem;
}

.conatiner .table-comp .board-comp {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  overflow: hidden;
  overflow-y: auto;
  overflow-x: auto;
}
.conatiner .table-comp .filter-comp {
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: all 0.2s;
  width: 55px;
  overflow: hidden;
}
.conatiner .table-comp .filter-comp div h3:nth-child(1) {
  display: flex;
  margin: 0;
  transition: all 0.3s;
}
.conatiner .table-comp .filter-comp div h3:nth-child(2) {
  display: none;
  margin: 0;
  transition: all 0.3s;
}
.conatiner .table-comp .filter-comp.active div h3 {
  animation: filter_header_anim linear 0.26s;
}

@keyframes filter_header_anim {
  from {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.conatiner .table-comp .filter-comp.active {
  width: 18%;
}

.conatiner .table-comp .filter-comp div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.conatiner .table-comp .filter-comp div:nth-child(1) h3 {
  color: var(--text-color);
}
.conatiner .table-comp .filter-comp div:nth-child(1) i {
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.2s;
}
.conatiner .table-comp .filter-comp div:nth-child(1) i:hover {
  cursor: pointer;
  transition: all 0.2s;
}
.conatiner .paggination-comp {
  width: 100%;
  display: flex;
  justify-content: center;
}
.conatiner .paggination-comp .pag_box {
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  background-color: var(--component-color);
  border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
}
.conatiner .paggination-comp .pag_box button {
  width: auto;
  padding: 0;
  background-color: #ffffff00;
}
.conatiner .paggination-comp .pag_box .prew-arrow i,
.conatiner .paggination-comp .pag_box .next-arrow i {
  cursor: pointer;
  color: var(--text-color);
  font-size: 1.25rem;
  padding: 4px;
  border-radius: 2rem;
  transition: all 0.3s;
}

.conatiner .paggination-comp .pag_box .prew-arrow:disabled,
.conatiner .paggination-comp .pag_box .next-arrow:disabled {
  opacity: 0.3;
}

.conatiner .paggination-comp .pag_box .prew-arrow i:hover,
.conatiner .paggination-comp .pag_box .next-arrow i:hover {
  color: whitesmoke;
}

.conatiner .paggination-comp .pag_box ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
}
.conatiner .paggination-comp .pag_box ul li {
  font-size: 1rem;
  color: white;
  cursor: pointer;
  /* padding: 4px 8px; */
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  transition: all 0.25s;
  position: relative;
}
.conatiner .paggination-comp .pag_box ul li.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 2px;
  border-radius: 5rem;
  background-color: var(--icon-hover);
  transition: all 0.25s;
}

.conatiner .paggination-comp .pag_box ul li p {
  color: var(--text-color);
  margin: 0;
}
.conatiner .paggination-comp .pag_box ul li.active p {
  color: var(--icon-hover);
}

/*cart*/
.search-comp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-comp app-search {
  width: 100%;
}

.search-comp .cart_box {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.search-comp .cart_box.active {
  animation: cart_anim infinite 1s;
}
.search-comp .cart_box.active i {
  animation: cart_anim_icon infinite 1s;
}
@keyframes cart_anim {
  0%,
  20%,
  40%,
  80% {
    transform: rotate(-5deg);
  }

  10%,
  30%,
  60%,
  100% {
    transform: rotate(5deg);
  }
}
@keyframes cart_anim_icon {
  10% {
    color: #ffb3ba;
  }

  20% {
    color: #ffdfba;
  }

  30% {
    color: #ffffba;
  }

  40% {
    color: #baffc9;
  }

  50% {
    color: #bae1ff;
  }

  60% {
    color: #dabfff;
  }

  70% {
    color: #ffc3a0;
  }

  80% {
    color: #ffb3ba;
  }

  90% {
    color: #ffdfba;
  }

  100% {
    color: initial;
  }
}
.search-comp .cart_box i {
  font-size: 1.75rem;
  transition: all 0.3s;
}

.search-comp .cart_box strong {
  position: absolute;
  font-size: 1rem;
  bottom: -10px;
  right: 20px;
  background-color: var(--component-color);
  border: 0.5px solid #ffffff34;
  color: white;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5rem;
}

.cart_cont {
  position: absolute;
  top: 50%;
  right: -150px;
  height: 100%;
  transform: translate(-50%, -50%);
}
/*/////////////////////////////////////*/
/*/////////////////////////////////////*/
/*/////////////RESPONSIVE//////////////*/
/*/////////////////////////////////////*/
/*/////////////////////////////////////*/

@media (max-width: 1024px) {
  .conatiner {
    padding: 4rem 1rem;
  }
  .conatiner .table-comp .filter-comp {
    padding: 0.5rem;
  }
  .conatiner .table-comp .filter-comp.active div:nth-child(1) {
    justify-content: space-between;
  }
  .conatiner .table-comp .filter-comp div:nth-child(1) {
    justify-content: center;
  }
  .conatiner .table-comp .filter-comp div h3:nth-child(1) {
    display: none;
  }
  .conatiner .table-comp .filter-comp div h3:nth-child(2) {
    display: flex;
  }
  .conatiner .table-comp .filter-comp div:nth-child(1) {
    /* justify-content: end; */
  }
}

@media (max-width: 830px) {
  .conatiner .paggination-comp .pag_box {
    padding: 0.5rem;
  }
  .conatiner {
    padding: 0.5rem;
  }
  .conatiner .table-comp {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 600px;
  }
  .conatiner .table-comp .filter-comp {
    width: 100%;
    height: auto;
    padding: 0;
    padding-bottom: 0.5rem;
    border-bottom: 0.5rem solid var(--page-color);
  }

  .conatiner .table-comp .filter-comp.active .filter-cont {
    overflow: hidden;
    overflow-x: auto;
  }
  .conatiner .table-comp .filter-comp.active {
    width: 100%;
  }
  .conatiner .table-comp .filter-comp div:nth-child(1) {
    justify-content: end;
  }
  .conatiner .table-comp .filter-comp.active div:nth-child(1) {
    justify-content: space-between;
  }
  .conatiner .table-comp .filter-comp div h3:nth-child(1) {
    display: flex;
  }
  .conatiner .table-comp .filter-comp div h3:nth-child(2) {
    display: none;
  }
}

@media (max-height: 737px) {
  .conatiner .table-comp {
    height: 500px;
  }
}
@media (min-height: 737px) {
  .conatiner .table-comp {
    height: 570px;
  }
}
