:root {
  --page-color: #070f2b;
  --text-color: #edf4ff;
  --component-color: #1b1a55;
  --selected-card: #556486;
  --button-color: #6592f3;
  --icon-hover: #afcaf4;
  --border-radius: 0.3rem;
  --dark-text-color: #4d4e4fab;
  --main-fontFamily: "Poppins", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--page-color);
  overflow: hidden;
  height: 100vh;
  width: 100%;
  user-select: none;
  ::-webkit-scrollbar {
    width: 8px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background-color: var(--page-color);
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--icon-hover);
  }
}

p {
  color: var(--text-color);
  font-family: var(--main-fontFamily);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-fontFamily);
}
i {
  color: var(--text-color);
  transition: all 0.5s;
}
i:hover {
  color: var(--icon-hover);
}

button {
  border: 0;
  padding: 0.5rem 0.875rem;
  border-radius: 0.875rem;
  color: white;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
  width: 140px;
}
button i {
  color: white;
}

button:hover {
  background-color: #386fe6;
}
button:disabled {
  opacity: 0.3;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
